---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Farrell Fitness | Membership">
  <section class="">
    <div class="">
      <div class="flex w-full flex-col text-center">
        <h1 class="title-font mb-2 text-3xl font-medium sm:text-4xl">
          Price List
        </h1>
      </div>

      <div class="mx-auto w-full overflow-auto">
        <table
          class="whitespace-no-wrap w-full table-auto text-center text-xxs md:text-lg"
        >
          <tbody class="text-left font-light">
            <tr
              ><td
                colspan="4"
                class="py-4 text-left text-base md:text-2xl font-medium"
                >Classes</td
              ></tr
            >
            <tr>
              <td class="px-4 py-3">8 Classes</td>
              <td class="px-4 py-3">1 month</td>
              <td class="px-4 py-3">€80</td>
            </tr>
            <tr>
              <td class="px-4 py-3">12 Classes</td>
              <td class="px-4 py-3">1 Month</td>
              <td class="px-4 py-3">€90</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Classes & GYM</td>
              <td class="px-4 py-3">1 Month</td>
              <td class="px-4 py-3">€90</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Class</td>
              <td class="px-4 py-3">1 Day</td>
              <td class="px-4 py-3">€15</td>
            </tr>
            <tr
              ><td
                colspan="4"
                class="py-4 text-left text-base md:text-2xl font-medium"
                >Open Gym</td
              ></tr
            >
            <tr>
              <td class="px-4 py-3">Gym</td>
              <td class="px-4 py-3">1 Month</td>
              <td class="px-4 py-3">€65</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym</td>
              <td class="px-4 py-3">3 Months</td>
              <td class="px-4 py-3">€179</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym</td>
              <td class="px-4 py-3">6 Months</td>
              <td class="px-4 py-3">€299</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym</td>
              <td class="px-4 py-3">1 Year</td>
              <td class="px-4 py-3">€549</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym</td>
              <td class="px-4 py-3">1 Day</td>
              <td class="px-4 py-3">€10</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym</td>
              <td class="px-4 py-3">1 Week</td>
              <td class="px-4 py-3">€30</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym (Student)</td>
              <td class="px-4 py-3">1 Month</td>
              <td class="px-4 py-3">€45</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym (Student)</td>
              <td class="px-4 py-3">3 Months</td>
              <td class="px-4 py-3">€120</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym (Student)</td>
              <td class="px-4 py-3">6 Months</td>
              <td class="px-4 py-3">€210</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym (Student)</td>
              <td class="px-4 py-3">1 Year</td>
              <td class="px-4 py-3">€360</td>
            </tr>
            <tr
              ><td
                colspan="4"
                class="py-4 text-left text-base md:text-2xl font-medium"
                >Personal Training</td
              ></tr
            >
            <tr>
              <td class="px-4 py-3">Personal Training</td>
              <td class="px-4 py-3">1 Session</td>
              <td class="px-4 py-3">€40</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Personal Training 1 Week</td>
              <td class="px-4 py-3">2 Sessions</td>
              <td class="px-4 py-3">€120</td>
            </tr>
            <tr>
              <td class="px-4 py-3"
                >Personal Training <br />5 Week Block (2 per week)</td
              >
              <td class="px-4 py-3">10 Sessions</td>
              <td class="px-4 py-3">€300</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Semi Personal Training <br /> 2 People</td>
              <td class="px-4 py-3">1 Session</td>
              <td class="px-4 py-3">€50</td>
            </tr>
            <tr
              ><td
                colspan="4"
                class="py-4 text-left text-base md:text-2xl font-medium"
                >Gym & Programming</td
              ></tr
            >
            <tr>
              <td class="px-4 py-3">Gym & Program</td>
              <td class="px-4 py-3">1 Month</td>
              <td class="px-4 py-3">€120</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym & Program</td>
              <td class="px-4 py-3">3 Months</td>
              <td class="px-4 py-3">€345</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Consultation ~ 2 Hours</td>
              <td class="px-4 py-3"
                >Body Scan <br /> Mobility Screen <br /> Strength Test</td
              >
              <td class="px-4 py-3">€100</td>
            </tr>
            <tr
              ><td
                colspan="4"
                class="py-4 text-left text-base md:text-2xl font-medium"
                >Combo Personal Training & Program with Gym</td
              ></tr
            >
            <tr>
              <td class="px-4 py-3">Personal Training</td>
              <td class="px-4 py-3">5 Sessions</td>
              <td class="px-4 py-3">€200</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Gym</td>
              <td class="px-4 py-3">3 Months</td>
              <td class="px-4 py-3">€179</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Program</td>
              <td class="px-4 py-3">3 Months</td>
              <td class="px-4 py-3">€120</td>
            </tr>
            <tr>
              <td class="h-[0.2px] bg-gray-200 w-full"></td>
              <td class="h-[0.2px] bg-gray-200 w-full"></td>
              <td class="h-[0.2px] bg-gray-200 w-full"></td>
            </tr>
            <tr>
              <td class="px-4 py-3"></td>
              <td class="px-4 py-3"></td>
              <td class="px-4 py-3">€499</td>
            </tr>
            <tr
              ><td
                colspan="4"
                class="py-4 text-left text-base md:text-2xl font-medium"
                >Sports Massage</td
              ></tr
            >
            <tr>
              <td class="px-4 py-3">Sports Massage <br />(Non memeber)</td>
              <td class="px-4 py-3"></td>
              <td class="px-4 py-3">€60</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Sports Massage <br />(Memeber)</td>
              <td class="px-4 py-3"></td>
              <td class="px-4 py-3">€50</td>
            </tr>
            <tr
              ><td
                colspan="4"
                class="py-4 text-left text-base md:text-2xl font-medium"
                >Styku 3D Body Scan</td
              ></tr
            >
            <tr>
              <td class="px-4 py-3">Styku Body Scan</td>
              <td class="px-4 py-3"></td>
              <td class="px-4 py-3">€30</td>
            </tr>
            <tr>
              <td class="px-4 py-3">Styku Body Scan <br />(Student)</td>
              <td class="px-4 py-3"></td>
              <td class="px-4 py-3">€20</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mx-auto mt-4 flex w-full pl-4">
      <button
        class="ml-auto flex rounded border-0 bg-orange-600 px-6 py-2 text-white hover:bg-orange-900 focus:outline-none"
        >Sign up</button
      >
    </div>
  </section>
</Layout>
