---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import GoogleMapsReviews from "../components/GoogleMapsReviews";
import PageLayout from "../layouts/PageLayout.astro";
---

<Layout title="Results">
  <PageLayout
    title="results & reviews"
    summary="Experience member transformations, tangible results, and rave reviews at Farrell Fitness. Join our community for weight loss, strength gains, and athletic improvements."
    videoPath=""
  >
    <div class="flex flex-wrap md:-m-2 -m-1">
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <Image
            width={600}
            height={400}
            alt="gallery"
            class="w-full object-cover h-full object-center block"
            src="/images/transformation14-min.jpeg"
          />
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <Image
            width={600}
            height={400}
            alt="gallery"
            class="w-full object-cover h-full object-center block"
            src="/images/transformation25-min.jpeg"
          />
        </div>
        <div class="md:p-2 p-1 w-full">
          <Image
            width={600}
            height={400}
            alt="gallery"
            class="w-full h-full object-cover object-center block"
            src="/images/transformation29-min.jpeg"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="md:p-2 p-1 w-full">
          <Image
            width={600}
            height={400}
            alt="gallery"
            class="w-full h-full object-cover object-center block"
            src="/images/transformation18-min.jpeg"
          />
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <Image
            width={600}
            height={400}
            alt="gallery"
            class="w-full object-cover h-full object-center block"
            src="/images/transformation3-min.jpeg"
          />
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <Image
            width={600}
            height={400}
            alt="gallery"
            class="w-full object-cover h-full object-center block"
            src="/images/transformation5-min.jpeg"
          />
        </div>
      </div>
    </div>
  </PageLayout>
  <h1 class="w-full text-center mt-12 text-2xl mb-4">Google Reviews</h1>
  <div class="h-[0.1rem] bg-gray-100 relative">
    <div class="absolute h-full w-1/2 bg-orange-600"></div>
  </div>
  <GoogleMapsReviews client:load />
</Layout>
